In [4]:
import pandas as pd
from datasets import load_dataset
dataset = load_dataset('SetFit/ag_news')

c:\Users\aamou\AppData\Local\Programs\Python\Python313\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Xet Storage is enabled for this repo, but the 'hf_xet' package is not installed. Falling back to regular HTTP download. For better performance, install the package with: `pip install huggingface_hub[hf_xet]` or `pip install hf_xet`
c:\Users\aamou\AppData\Local\Programs\Python\Python313\Lib\site-packages\huggingface_hub\file_download.py:143: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\aamou\.cache\huggingface\hub\datasets--SetFit--ag_news. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)
Xet Storage is enabled for this repo, but the 'hf_xet' package is not installed. Falling back to regular HTTP download. For better performance, install the package with: `pip install huggingface_hub[hf_xet]` or `pip install hf_xet`
Generating train split: 100%|██████████| 120000/120000 [00:00<00:00, 1565238.35 examples/s]
Generating test split: 100%|██████████| 7600/7600 [00:00<00:00, 664887.69 examples/s]

In [11]:
df_train = dataset['train'].to_pandas()
df_train

                                                     text  label label_text
0       Wall St. Bears Claw Back Into the Black (Reute...      2   Business
1       Carlyle Looks Toward Commercial Aerospace (Reu...      2   Business
2       Oil and Economy Cloud Stocks' Outlook (Reuters...      2   Business
3       Iraq Halts Oil Exports from Main Southern Pipe...      2   Business
4       Oil prices soar to all-time record, posing new...      2   Business
...                                                   ...    ...        ...
119995  Pakistan's Musharraf Says Won't Quit as Army C...      0      World
119996  Renteria signing a top-shelf deal Red Sox gene...      1     Sports
119997  Saban not going to Dolphins yet The Miami Dolp...      1     Sports
119998  Today's NFL games PITTSBURGH at NY GIANTS Time...      1     Sports
119999  Nets get Carter from Raptors INDIANAPOLIS -- A...      1     Sports

[120000 rows x 3 columns]

In [13]:
df_train.isna().sum()

text          0
label         0
label_text    0
dtype: int64

In [14]:
df_train.duplicated().sum()

np.int64(0)

                                                     text  label label_text
0       Wall St. Bears Claw Back Into the Black (Reute...      2   Business
1       Carlyle Looks Toward Commercial Aerospace (Reu...      2   Business
2       Oil and Economy Cloud Stocks' Outlook (Reuters...      2   Business
3       Iraq Halts Oil Exports from Main Southern Pipe...      2   Business
4       Oil prices soar to all-time record, posing new...      2   Business
...                                                   ...    ...        ...
119995  Pakistan's Musharraf Says Won't Quit as Army C...      0      World
119996  Renteria signing a top-shelf deal Red Sox gene...      1     Sports
119997  Saban not going to Dolphins yet The Miami Dolp...      1     Sports
119998  Today's NFL games PITTSBURGH at NY GIANTS Time...      1     Sports
119999  Nets get Carter from Raptors INDIANAPOLIS -- A...      1     Sports

[120000 rows x 3 columns]